package {{package}};

import org.springframework.cloud.openfeign.FeignClient;
import {{configPackage}}.ClientConfiguration;

{{=<% %>=}}
@FeignClient(value="${<%groupId%>.value}", path="${<%groupId%>.path}", configuration=ClientConfiguration.class)
<%={{ }}=%>
public interface {{classname}}Client extends {{classname}} {
}